.business-box{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000;
    width: fit-content;
    transition: all 150ms linear;
    cursor: pointer;
    font-weight: 600;
}
.slide-business a{
    text-decoration: none !important;
}

.slide-business{
    flex-wrap: wrap;
}
.slide-business-two{
    flex-wrap: wrap;
    justify-content: center;
}

.business-box:hover{
    background-color: #000;
    color: #fff;
}

.business-box-two{
    width: 130px;
    height: 130px;
}

.business-box-two img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
}