.business-box{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000;
    width: fit-content;
    transition: all 150ms linear;
    cursor: pointer;
    font-weight: 600;
}

.slide-business{
    flex-wrap: wrap;
}

.business-box:hover{
    background-color: #000;
    color: #fff;
}