.business-box{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #000;
    width: fit-content;
    transition: all 150ms linear;
    cursor: pointer;
    font-weight: 600;
}
.slide-business a{
    text-decoration: none !important;
}

.slide-business{
    flex-wrap: wrap;
}
.slide-business-two{
    flex-wrap: wrap;
    justify-content: center;
}

.business-box:hover{
    background-color: #000;
    color: #fff;
}

.business-box-two{
    width: 130px;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
    background: #F6F4F7;
    border-radius: 50%;
}

@media (max-width:500px) {
    .business-box-two{
        width: 65px;
        height: 65px;
    }
}

.business-box-two img {
    width: 90%;
    object-fit: cover;
}