*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
a{
  color: #000 !important;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-height: 100%;
}

#root{
  min-height: 100vh;
}

.admin-table{
  position: relative;
  top: 107px;
}

.nav_container {
  display: flex;align-items: center;justify-content: space-between;
  height: 100%;
  width: 90% !important;
}

.logo {
  align-items: center;
  display: flex;
}

.logo img {
  height: 40px;
}

nav {
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  height: 11vh;
  max-height: 100px;
}

.auth-wrapper{
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.auth-wrapper label {
  font-weight: 700;
}

#auth-block{
  width: 400px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.form input{
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
}

.form label {
  margin-bottom: 5px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container_video {
  display: flex;flex-direction: column;align-items: center;
  /* height: 480px; */
  z-index: 10;
  width: 60%;
}

@media screen and (max-width:768px) {
  .container_video {
    width: 95%;
  }
}

.file-block{
  max-height: 25px;
  overflow: hidden;
}

video{
  width: 100%;
}

.navigation h3 {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 20px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
}

.navbar-main{
  height: 95px;
}

.navbar-logo{
  height: 100%;
}

.navbar-logo img{
  height: 45px;
  object-fit: contain;
  width: 100%;
}

.navbar-logo-icons{
  height: 100%;
  font-size: 1.7rem;
}
.category_title h3{
  font-weight: 600;
  font-size: 25px;
}

.category-box{
  width: 130px;
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;
  background: #F6F4F7;
  border-radius: 50%;
}

.wrapper-category-box{
  max-width: 150px;
  overflow: hidden;
}

.category-box img {
  width: 90%;
  object-fit: cover;
  transition: all .2s linear;
}

.category-box img:hover {
  transform: scale(1.1);
}

@media (max-width:500px) {
  .wrapper-category-box{
    max-width: 100px;
  }
  .category-box{
      width: 65px;
      height: 65px;
  }
}
