.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 99;
    position: absolute;
    top: 0;
    transition: 800ms;
    opacity: 0;
    visibility: hidden;
    left: 0;   
    background: rgba(0,0,0,.5)
}

.admin li{
    list-style-type: none;
    font-weight: 500;
    font-size: large;
}

.admin ul{
    padding: 0;
}

.admin li{
    margin: 20px 0;
    padding: 5px;
    cursor: pointer;
}

.admin{
    height: 100vh;
    flex-wrap: wrap;
}

.active-menu{
    background-image: linear-gradient(to right top, #5cbefd, #51b4fe, #4ca8fe, #4e9dfc, #5790f9);
    color: #181b29;
}

.admin hr {
    color: #fff;
}

.first-sidebar{
    width: 18%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to right top, #222427, #1f2228, #1c2028, #1a1d29, #181b29);
    color: #fff;
    transition: all .3s linear;
}

.first-sidebar-toggle{
    width: 8%;
}
.admin-logo{
    height: 75px;
}
.admin-logo img {
    height: 100%;
    max-width: 100%;
}
.main-menu{
    /* height: 70%; */
}

.bottom-block{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.bottom-block hr {
    height: 2px;
    width: 100%;
}

.bottom-block i{
    font-size: 1.6rem;
    cursor: pointer;
}

.main-menu li{
    padding: 10px 20px;
}

.admin-transition{
    transition: all 300ms linear;
}